<section class="about-us container">
  <div class="about" id="about-us">
    <div class="title-about">
      <h2>
        <span class="about-us-highlight-text">About </span>
        <span class="about-us-highlight">
          <span class="about-us-highlight-text">Us</span>
          <div class="about-us-highlight-box"></div>
        </span>
      </h2>
      <p class="about-us-subtitle">
        We are dedicated to providing engaging and effective English language
        courses in a supportive and stimulating learning environment
      </p>
    </div>
    <div class="grid-about">
      <div class="card-about card1 card-flex card">
        <span class="card-number">01</span>
        <p class="text-card">Expert, innovative teaching staff</p>
      </div>
      <div class="card-about card2 card-flex">
        <span class="card-number">02</span>
        <p class="text-card">Wide range of course levels and options</p>
      </div>
      <div class="card-about card3 card-flex">
        <span class="card-number">03</span>
        <p class="text-card">Multicultural learning environment</p>
      </div>
      <div class="card-about card4 card-flex">
        <span class="card-number">04</span>
        <p class="text-card">Comprehensive language support services</p>
      </div>
      <div class="card-about card5">
        <picture>
          <source
            srcset="
              ./images/memoji/memoji.png,
              ./images/memoji/memoji@2x.png 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./images/memoji/memoji.png,
              ./images/memoji/memoji@2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/memoji/memoji.png,
              ./images/memoji/memoji@2x.png 2x
            "
            media="(max-width: 767px)"
          />
          <img src="./images/memoji/memoji.png" alt="Memoji" />
        </picture>
      </div>
    </div>
  </div>
</section>
