<section class="section-students">
  <div class="container" id="reviews">
    <h2 class="feedback-title highlight">
      What our <span>students</span> say
    </h2>
    <p class="feedback-description">
      Hear from our students about their learning journey with us, as they share
      their experiences, progress, and the transformative impact.
    </p>
    <div class="feedbacks-scroll">
      <ul class="feedbacks-list">
        <li class="feedback-card">
          <div class="feedback-student-header">
            <picture>
              <source srcset="
                ./images/students/avatar1.webp    1x,
                ./images/students/avatar1@2x.webp 2x
              " type="image/webp" />
              <source srcset="
                ./images/students/avatar1.png    1x,
                ./images/students/avatar1@2x.png 2x
              " type="image/png" />
              <img src="./images/students/avatar.png" alt="Anna" loading="lazy" />
            </picture>
            <div class="student-info">
              <h3 class="student-name">Anna</h3>
              <p class="student-role">Student</p>
            </div>
          </div>
          <p class="feedback-text">
            My experience at the language school has been nothing short of
            amazing. The teachers are dedicated and the learning environment is
            stimulating. I feel more confident in my English skills.
          </p>
        </li>
        <li class="feedback-card">
          <div class="feedback-student-header">
            <picture>
              <source srcset="
                ./images/students/avatar2.webp    1x,
                ./images/students/avatar2@2x.webp 2x
              " type="image/webp" />
              <source srcset="
                ./images/students/avatar2.png    1x,
                ./images/students/avatar2@2x.png 2x
              " type="image/png" />
              <img src="./images/students/avatar2.png" alt="Mykhailo" loading="lazy" />
            </picture>
            <div class="student-info">
              <h3 class="student-name">Mykhailo</h3>
              <p class="student-role">Student</p>
            </div>
          </div>
          <p class="feedback-text">
            The school offers a great balance of language theory and practical
            exercises. The personalized feedback from the teachers has helped me
            improve my weak areas.
          </p>
        </li>
        <li class="feedback-card">
          <div class="feedback-student-header">
            <picture>
              <source srcset="
                ./images/students/avatar3.webp    1x,
                ./images/students/avatar3@2x.webp 2x
              " type="image/webp" />
              <source srcset="
                ./images/students/avatar3.png    1x,
                ./images/students/avatar3@2x.png 2x
              " type="image/png" />
              <img src="./images/students/avatar3.png" alt="avatar3" loading="lazy" />
            </picture>
            <div class="student-info">
              <h3 class="student-name">Viktoria</h3>
              <p class="student-role">Student</p>
            </div>
          </div>
          <p class="feedback-text">
            I love the dynamic and interactive teaching methods used here. It’s a
            great place to learn English in a fun and effective way. I have
            definitely seen a big improvement in my language skills.
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>