<section class="our-teachers">
  <div class="container">
    <h2 class="teacher-title highlight" id="Teachers">Meet our <span>teachers</span></h2>
    <p class="teacher-description">Discover our team of dedicated educators, committed to guiding you on your journey to
      English proficiency with personalized and engaging instruction</p>
    <ul class="teacher-list">
      <li class="teacher-item">
        <div class="teacher-img-container">
          <img
            src="./images/teachers/teacher1@1x.jpg"
            srcset="./images/teachers/teacher1@1x.jpg 1x, ./images/teachers/teacher1@2x.jpg 2x"
            alt="Maria"
            width="150"
            height="150"
            class="teacher-img"
          />
        </div>
        <h3 class="teachers-caption">Maria</h3>
        <p class="teachers-desc">A seasoned linguist and our primary specialist in beginner-level instruction, Maria
          brings warmth and patience to every class</p>
      </li>
      <li class="teacher-item">
        <div class="teacher-img-container">
          <img
            src="./images/teachers/teacher2@1x.jpg"
            srcset="./images/teachers/teacher2@1x.jpg 1x, ./images/teachers/teacher2@2x.jpg 2x"
            alt="Artem"
            width="150"
            height="150"
            class="teacher-img"
          />
        </div>
        <h3 class="teachers-caption">Artem</h3>
        <p class="teachers-desc">With his innovative teaching techniques and a focus on interactive learning, Artem
          excels in keeping students engaged and motivated</p>
      </li>
      <li class="teacher-item">
        <div class="teacher-img-container">
          <img
            src="./images/teachers/teacher3@1x.jpg"
            srcset="./images/teachers/teacher3@1x.jpg 1x, ./images/teachers/teacher3@2x.jpg 2x"
            alt="Ilona"
            width="150"
            height="150"
            class="teacher-img"
          />
        </div>
        <h3 class="teachers-caption">Ilona</h3>
        <p class="teachers-desc">A specialist in advanced English, Ilona provides intensive instruction, ensuring
          students gain confidence in complex language tasks</p>
      </li>
      <li class="teacher-item">
        <div class="teacher-img-container">
          <img
            src="./images/teachers/teacher4@1x.jpg"
            srcset="./images/teachers/teacher4@1x.jpg 1x, ./images/teachers/teacher4@2x.jpg 2x"
            alt="Volodymyr"
            width="150"
            height="150"
            class="teacher-img"
          />
        </div>
        <h3 class="teachers-caption">Volodymyr</h3>
        <p class="teachers-desc">Our expert in English for specific purposes, Volodymyr tailors his approach to meet
          individual career and industry-specific language needs</p>
      </li>
    </ul>
  </div>
</section>