
h2 {
    margin-bottom: 16px;
    color: var(--black);
}

p {
    font-size: 14px;
}

.about-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.about-us-highlight {
    display: inline-block;
    position: relative;
}

.about-us-highlight-text {
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: -2%;
    text-align: center;

    position: relative;
    z-index: 2;
}

.about-us-highlight-box {
    position: absolute;
    top: 31px;
    left: -7px;
    width: 62px;
    height: 20px;
    background-color: var(--accent-color);
    border-radius: 8px;
    z-index: 1;
}

.about-us-subtitle {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
    color: rgba(18, 20, 23, 0.5);
}

.number {
    display: block;
}

.card-flex {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.container.about {
    max-width: 1280px;
    margin: 0 20px;
    padding: 80px 0;
    gap: 16px;
}

.title-about {
    text-align: center;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.card-about {
    position: relative;
    background: var(--gray);
    padding: 32px;
    border-radius: 16px;
    text-align: left;
    height: 160px;
}

.text-card {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -2%;
    text-align: left;
    color: var(--black);
}

.card {
    background-color: var(--gray);
    border-radius: 16px;
}

.cards-list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

.card-number {
    font-weight: 700;
    font-size: 28px;
    line-height: 32px;
    letter-spacing: -2%;
    color: var(--green);
    display: flex;
    align-items: flex-start;
}

.card5 {
    background: var(--green);
    color: var(--white);
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    box-sizing: border-box;
    height: 323px;
}

@media (min-width: 768px) {

    .about-us-subtitle {
        font-size: 18px;
        line-height: 30px;
    }

    .about-content {
        gap: 32px;
    }

    .container.about {
        margin: 0 32px;
    }

    .cards-list {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, auto);
        gap: 32px;
    }

    .card5 {
        grid-column: span 2;
        height: 243px;
    }
}

@media (min-width: 1280px) {

    .title-about {
        width: 81%;
        margin-left: auto;
        margin-right: auto;
    }

    .about-content {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, auto);
    }

    .cards-list {
        grid-column: span 2;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, auto);
        gap: 32px;
    }

    .card5 {
        grid-column: 3;
        grid-row: span 2;
        height: 352px;
    }

    .container.about {
        margin: 0 128px;
    }
}
