.section-students {
  margin-bottom: 80px;
}

.feedback-title {
  margin-bottom: 16px;
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  line-height: 36px;

}

.feedback-description {
  font-size: 14px;
  text-align: center;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 40px;
}

.feedbacks-scroll {
  display: flex;
  overflow-x: auto;

}

.feedbacks-list {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.feedback-card {
  padding: 20px;
  min-width: 335px;
  border-radius: 16px;
  background: #F3F5F6;
}

.feedback-student-header {
  display: flex;
  gap: 4px;
  align-items: center;
  margin-bottom: 16px;
  background: var(--green);
  padding: 14px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.student-name {
  font-size: 20px;
  font-weight: 700;
  color: var(--white);
  letter-spacing: -0.4px;
  line-height: 24px;
}

.student-role {
  font-size: 12px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.5);
  line-height: 16px;
}

.feedback-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;

}


@media screen and (min-width: 768px) {
  .feedback-card {
    min-width: 335px;
  }

  .feedbacks-list {

    gap: 32px;
  }

  .feedback-description {
    font-size: 18px;

    max-width: 646px;
    margin: 0 auto 64px;
  }



}

@media screen and (min-width: 1280px) {
  .feedback-card {
    min-width: 320px;

  }
}